<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides *ngIf="dataLocalService.noticias.length === 0"
              [options]="slidesOpt">
    <ion-slide>
      <ion-label>Seleccione una noticia </ion-label>
    </ion-slide>
  </ion-slides>
  <app-noticias *ngIf="dataLocalService.noticias.length > 0" 
                [enNoticias]="true"
                [noticias]="dataLocalService.noticias"></app-noticias>
</ion-content>
